background {
	color:black;
}

#b-one{
    min-height: 100 px
    min-width: 200 px;
    font-family: verdana;
    font-size: 16;

    
}

#btwo{
    min-height: 100 px
    min-width: 200 px;
    font-family: verdana;
    font-size: 16;
}

#map {
    min-height: 500px;
    width: 70%;
    height:70%
}

#sideMap {
    min-height: 500px;
    width: 70%;
    height:70%
}

#sideBarButton {
    font-size: 24px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    color:white
}

.sidenavText {
    text-align: center !important;
    color:whitesmoke
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}